body {
  background-color: #242424;
}

.App {
  text-align: center;
  color: white;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding-top: 20px;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.page-link {
  color: #ccc;

  display: block;
  margin: auto;
  padding: 0.5rem 1rem;
  font-family: sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  position: relative;
  transition: all .3s cubic-bezier(.2, 0, 0, 1);
  z-index: 1;
  text-align: center;
  
  
  &:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 0.5rem;
    left: 0.5rem;
    background-color: #ffffff;
    transition: all .3s cubic-bezier(.2, 0, 0, 1);
    transform-origin: bottom center;
    z-index: -1;
    white-space: nowrap;
  }
  
  &:hover {
    color: #999999;
    
    &:after {
      right: 0;
      left: 0;
      height: 100%;
    }
  }
}

.playground {
  color: #ffccff!important;
  &:after {
    background-color: #ffccff!important;
  }
  &:hover {
    color: #381d78!important;
  }
}

ol{
  list-style-type: none;
  margin: 0 auto;
}

.btn-success {
  background-color: white !important;
  color: #333 !important;
  border: 2px solid white !important;
}

.btn-success:hover, .btn-success:active, .btn-success:visited {
  background-color: #bbb !important;
  color: #333 !important;
  border: 2px solid #bbb !important;
}

.btn-danger {
  background-color: #bbbbff !important;
  color: #333 !important;
  border: 2px solid #bbbbff !important;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:visited {
  background-color: #9999ff !important;
  color: #333 !important;
  border: 2px solid #9999ff !important;
}

.console-scroll {
  max-height: 75px;
  overflow-y: scroll;
}